<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Book and Review</title>
    <style>
        .container {
            padding-top: 50px;
        }

        .header {
            border-bottom: 1px solid black;
        }

        ul {
            text-align: left;
            color: red;
            font-size: 12px;
        }

        a {
            text-decoration: underline;
        }

        form {
            width: 400px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row header">
            <div class="col">
                <h4>Welcome {{request.session.alias}}!</h4>
            </div>
            <div class="col text-right">
                <a href="/books">Home</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <p class="user_email">User ID: {{request.session.email}}</p>
        <h4>Add a New Book Title and a Review:</h4>
        <form action="/new_book" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Book Title:</label>
                <input type="text" class="form-control" id="title" placeholder="book title" name="title">
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" class="form-control" id="author" placeholder="author" name="author">
            </div>
            <div class="form-group">
                <label for="review">review:</label>
                <textarea name="review" class="form-control" id="review"></textarea>
            </div>
            <div class="form-group">
                <label for="rating">rating:</label>
                <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="button text-center"><button type="submit" class="btn btn-primary">Add Book and Review</button>
            </div>
        </form>
    </div>

</body>

</html>